{% extends 'MerlinTvShowsBundle::layout.html.twig' %}
{% block title %}Main{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Season</th>
            <th>Episode</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
{% endblock %}
