{% extends parent_template %}
{% block validation %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Validation failed for following fields:</strong>
    <ul>
    {% for error in errors %}
        <li><em>{{ error.propertyPath }}</em>: {{ error.message }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
